*.bak
*.bak
*.cpu
*.log
*.mem
*.orig
*.out
*.prof
*.rej
*.swp
*.tmp
.DS_Store
.vscode
_vendor-*/
alg2docker/Dockerfile
algernon
algernon.1.gz
algernon.debug
algernon.log
apps/first
apps/withplugins
bolt.db
comments.json
dump.rdb
examples/a
http2.log
include.txt
output.b64
plugins/cpp/main
plugins/go/go
regtest/issue13/large-file
release/
samples/getip/ip.md
test.json
trace.out
