[Unit]
Description=Algernon web server
Requires=redis.service
After=redis.service

[Service]
User=algernon
Group=users
ExecStart=/usr/bin/algernon -e -a --theme=dark --domain --server --log /var/log/algernon.log /srv/algernon
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
RuntimeDirectory=algernon
RuntimeDirectoryMode=700

[Install]
WantedBy=multi-user.target
