[Unit]
Description=Algernon web server

[Service]
Group=algernon
ExecStart=/usr/bin/algernon -e -a --domain --server --log /var/log/algernon.log --addr=:80 /srv
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
RuntimeDirectory=algernon
RuntimeDirectoryMode=700

[Install]
WantedBy=multi-user.target
