[Unit]
Description=Algernon web server
Requires=redis.service
After=redis.service

[Service]
Group=algernon
ExecStart=/usr/bin/algernon -c --domain --server --cachesize 67108864 --addr=:80 --httponly --log /var/log/algernon.log /srv
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
RuntimeDirectory=algernon
RuntimeDirectoryMode=700

[Install]
WantedBy=multi-user.target
