[Unit]
Description=Algernon web server
Requires=redis.service
After=redis.service

[Service]
User=algernon
Group=algernon
ExecStart=/usr/bin/algernon --prod
#ExecStart=/usr/bin/algernon --httponly --addr=:3000 /srv/algernon
CapabilityBoundingSet=
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
RuntimeDirectory=algernon
RuntimeDirectoryMode=700

[Install]
WantedBy=multi-user.target
