[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Algernon
GenericName=Web Server
Comment=QUIC Web Server with Lua, Markdown and Pongo2 support
Exec=algernon -m
Icon=markdown
Terminal=false
StartupNotify=false
Categories=Application;
MimeType=text/markdown;
NoDisplay=true
